* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h-mainscreen {
    height: calc(100vh - 64px) !important;
}

.nunito-font {
    font-family: 'Nunito', sans-serif;
}

.sf-ui-text {
    font-family: "SF UI Text", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}